src/META-INF/wsdl/dev.facturacfdi.mx_8081/WSTimbrado/WSForcogsaService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://cancelacfd.sat.gob.mx" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cancelacfd.sat.gob.mx">

<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="https://dev.facturacfdi.mx:8081/WSTimbrado/WSForcogsaService?xsd=1" />

<xs:element name="CancelaCFD">
<xs:complexType>
<xs:sequence>
<xs:element name="Cancelacion" type="tns:Cancelacion" form="qualified" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CancelaCFDResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="CancelaCFDResult" type="tns:Acuse" form="qualified" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="Cancelacion">
<xs:sequence>
<xs:element name="Folios" form="qualified" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="UUID" type="xs:string" form="qualified" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="ns1:Signature" minOccurs="0" />
</xs:sequence>
<xs:attribute name="RfcEmisor" type="xs:string" />
<xs:attribute name="Fecha" type="xs:dateTime" use="required" />
</xs:complexType>

<xs:complexType name="Acuse">
<xs:sequence>
<xs:element name="Folios" form="qualified" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="UUID" type="xs:string" form="qualified" minOccurs="0" />
<xs:element name="EstatusUUID" type="xs:string" form="qualified" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="ns1:Signature" minOccurs="0" />
</xs:sequence>
<xs:attribute name="CodEstatus" type="xs:string" />
<xs:attribute name="Fecha" type="xs:dateTime" use="required" />
<xs:attribute name="RfcEmisor" type="xs:string" />
</xs:complexType>
</xs:schema>