src/META-INF/wsdl/v33.facturacfdi.mx_80/WSTimbradoCFDIService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://cancelacfd.sat.gob.mx" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cancelacfd.sat.gob.mx">

<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://v33.facturacfdi.mx:80/WSTimbradoCFDIService?xsd=1"/>

<xs:element name="CancelaCFD">
<xs:complexType>
<xs:sequence>
<xs:element name="Cancelacion" type="tns:Cancelacion" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="CancelaCFDResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="CancelaCFDResult" type="tns:Acuse" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="Cancelacion">
<xs:sequence>
<xs:element name="Folios" form="qualified" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="UUID" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="ns1:Signature" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="RfcEmisor" type="xs:string"/>
<xs:attribute name="Fecha" type="xs:dateTime" use="required"/>
</xs:complexType>

<xs:complexType name="Acuse">
<xs:sequence>
<xs:element name="Folios" form="qualified" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="UUID" type="xs:string" form="qualified" minOccurs="0"/>
<xs:element name="EstatusUUID" type="xs:string" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element ref="ns1:Signature" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="CodEstatus" type="xs:string"/>
<xs:attribute name="Fecha" type="xs:dateTime" use="required"/>
<xs:attribute name="RfcEmisor" type="xs:string"/>
</xs:complexType>
</xs:schema>