src/META-INF/WSForcogsaService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wservicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wservicios/" name="WSForcogsaService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="https://dev.facturacfdi.mx:8081/WSTimbrado/WSForcogsaService?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://wservicios/" schemaLocation="https://dev.facturacfdi.mx:8081/WSTimbrado/WSForcogsaService?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cancelacfd.sat.gob.mx" schemaLocation="https://dev.facturacfdi.mx:8081/WSTimbrado/WSForcogsaService?xsd=3" />
</xsd:schema>
</types>
<message name="Cancelacion_1">
<part name="parameters" element="tns:Cancelacion_1" />
</message>
<message name="Cancelacion_1Response">
<part name="parameters" element="tns:Cancelacion_1Response" />
</message>
<message name="Cancelacion_2">
<part name="parameters" element="tns:Cancelacion_2" />
</message>
<message name="Cancelacion_2Response">
<part name="parameters" element="tns:Cancelacion_2Response" />
</message>
<message name="Autenticar">
<part name="parameters" element="tns:Autenticar" />
</message>
<message name="AutenticarResponse">
<part name="parameters" element="tns:AutenticarResponse" />
</message>
<message name="Timbrar">
<part name="parameters" element="tns:Timbrar" />
</message>
<message name="TimbrarResponse">
<part name="parameters" element="tns:TimbrarResponse" />
</message>
<portType name="WSForcogsa">
<operation name="Cancelacion_1">
<input wsam:Action="http://wservicios/WSForcogsa/Cancelacion_1Request" message="tns:Cancelacion_1" />
<output wsam:Action="http://wservicios/WSForcogsa/Cancelacion_1Response" message="tns:Cancelacion_1Response" />
</operation>
<operation name="Cancelacion_2">
<input wsam:Action="http://wservicios/WSForcogsa/Cancelacion_2Request" message="tns:Cancelacion_2" />
<output wsam:Action="http://wservicios/WSForcogsa/Cancelacion_2Response" message="tns:Cancelacion_2Response" />
</operation>
<operation name="Autenticar">
<input wsam:Action="http://wservicios/WSForcogsa/AutenticarRequest" message="tns:Autenticar" />
<output wsam:Action="http://wservicios/WSForcogsa/AutenticarResponse" message="tns:AutenticarResponse" />
</operation>
<operation name="Timbrar">
<input wsam:Action="http://wservicios/WSForcogsa/TimbrarRequest" message="tns:Timbrar" />
<output wsam:Action="http://wservicios/WSForcogsa/TimbrarResponse" message="tns:TimbrarResponse" />
</operation>
</portType>
<binding name="WSForcogsaPortBinding" type="tns:WSForcogsa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="Cancelacion_1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Cancelacion_2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Autenticar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Timbrar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSForcogsaService">
<port name="WSForcogsaPort" binding="tns:WSForcogsaPortBinding">
<soap:address location="https://dev.facturacfdi.mx:8081/WSTimbrado/WSForcogsaService" />
</port>
</service>
</definitions>